#listen-in-wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#listen-in-wrapper.toggle {
	padding-left: 250px;
}

#listen-in-sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#listen-in-wrapper.toggled #listen-in-sidebar-wrapper {
	width: 250px;
}

#listen-in-page-content-wrapper {
	width: 100%:
	padding: 15px;
}

#listen-in-wrapper.toggled #listen-in-page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

.menu-toggle-button {
	position: absolute;
	padding: 0.4rem;
	font-size: 2rem;
	background-color: rgba(255, 255, 255, 0.9);
	z-index:1000;
	-webkit-transition: 0.5s ease;
 	-moz-transition: 0.5s ease;
 	-o-transition: 0.5s ease;
 	transition: 0.5s ease;
}

.menu-toggle-button:hover,
.menu-toggle-button.toggled {
	background-color: rgba(0, 0, 0, 0.9);
	color: rgba(255, 255, 255, 1);
}

.menu-toggle-button.toggled {
	 -webkit-transform: translate(250px,0); 
	 -moz-transform: translate(250px,0);
	 -o-transform: translate(250px,0); 
	 -ms-transform: translate(250px,0); 
	 transform: translate(250px,0); 
}

.spinner-container {
	width: 100%;
	height: 50px;
	padding: 10px 0;
	text-align: center;
	position: absolute;
	top: 40rem;
	z-index: 10000;
}

@keyframes spin {
	100%{ transform: rotate(360deg); }
}

.spinner {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: 4px double;
	border-radius: 50%;
	border-color: transparent rgba(0,0,0,.3) rgba(0,0,0,.3);
	animation: spin 600ms infinite linear;
}


#player-div {
	width: 100%;
}

.song {
	position: relative;
	border-bottom: 1px solid rgba(200, 200, 200, 0.4);
	margin: 0.5em;
}

.song-content {
	height: 3em;
}

.search-box {
	display: inline-block;
	border-radisu: 3px;
	padding: 4px 55px 4px 15px;
	float: right;
	position: relative;
	background: #fff;
	transition: all 200ms ease-in-out;
}

.search-box.hover,
.search-box.active {
	border: 1px solid #aaa;
}

.search-form input[type=text] {
	border: none;
	box-shawdow: none;
	display: inline-block;
	padding: 0;
	background: transparent
}

.search-form input[type=text].hover,
.search-form input[type=text].active {
	box-shadow: none;
}

.search-btn {
	position: absolute;
	right: 2px;
	top: 2px;
	color: #aaa;
	border-radius: 3px;
	font-size: 21px;
	padding: 5px 10px 1px;
	transition: all 200ms ease-in-out;
}

.search-btn:hover {
	color: #fff;
	background-color: #8FBE00;
}

.create-song-wrapper {
	position: relative;
	padding: 4px 55px 4px 15px;
}

.create-song-btn {
	position: absolute;
	right: 50px;
	top: 2px;
	color: #aaa;
	border-radius: 3px;
	padding: 5px 10px 1px;
	transition: all 200ms ease-in-out;
	font-size: 21px;
}

.song-thumbnail-wrapper {
	position: relative;
}

.song-thumbnail {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.song-duration-label {
	position: absolute;
	bottom: 5%;
	right: 10%;
	color: #DDDDDD;
	background-color: rgba(50, 50, 50, 0.8);
	font-size: 1em;
}

.vote {
	position: relative;
	width: 4rem;
	height: 4rem;
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
}

.up {
	border-radius: 50% 50% 0 0;
	background: #4BC35F;
	opacity: 0.6;
	height: 50%;
	margin-bottom: 0.25rem;
	flex: 1 0 0;
	cursor: pointer;
}

.up:hover {
	opacity: 1;
}

.down {
	border-radius: 0 0 50% 50%;
	background: #FF0000;
	opacity: 0.6;
	height: 50%;
	margin-top: 0.25rem;
	flex: 1 0 0;
	cursor: pointer;
}

.down:hover {
	opacity: 1;
}

.count {
	position: absolute;
	top: 0;
	margin: 1rem;
	border-radius: 100%/50%;
	font-size: 1rem;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	background-color: #ffffff;
}

@keyframes fadeOut {
	0% {opacity: 0;}
	10% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}

@-webkit-keyframes fadeOut {
	0% {opacity: 0;}
	10% {opacity: 1;}
	90% {opacity: 0.1;}
	100% {opacity: 0;}
}

.errors {
	position: fixed;
	right: 0;
	z-index: 10000;
	padding: 0.1rem;
	pointer-events: none;
}

.alert {
	animation: fadeOut 2700ms ease-in 0s 1 forwards;
	-webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
	-moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
	width: 25rem;
	float: right;
	clear: both;
	margin-bottom: 0.5em;
	point-events: auto;
}


@media(min-width: 768px) {
	.menu-toggle-button {
		display: none;
	}

	#listen-in-wrapper {
		padding-left: 250px;
	}
	
	#listen-in-wrapper.toggled {
		padding-left: 0;
	}
	
	#listen-in-sidebar-wrapper {
		width: 250px;
	}

	#listen-in-wrapper.toggled #listen-in-sidebar-wrapper {
		width: 0;
	}

	#listen-in-page-content-wrapper {
		padding: 20px;
	}

	#listen-in-wrapper.toggle #listen-in-page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}


