<template name="songItem">
	<div class="song row">
		<div class="song-thumbnail col-sm-4">
			<img src="https://i.ytimg.com/vi/{{youtubeVideoId}}/default.jpg">
		</div>
		<div class="song-content col-sm-5">
			<div class="song-title"><a href="{{url}}">{{title}}</a></div>
		</div>
		<div class="col-sm-3 song-action-wrapper">
			<div class="vote">
				<div class="increment	up"></div>
				<div class="increment down"></div>
				<div class="count">5</div>
			</div>
		</div>
		<!--	<a href="{{pathFor 'songPage'}}" class="song-detail btn btn-clear">Detail</a> -->
	</div>
</template>
