<template name="songItem">
	<div class="song row">
		<div class="song-thumbnail-wrapper col-sm-4">
			<img class="song-thumbnail" src="https://i.ytimg.com/vi/{{youtubeVideoId}}/hqdefault.jpg"/>
			<span class="song-duration-label">{{displayDuration duration}}</span>
		</div>
		<div class="song-content col-sm-5">
			<div class="song-title"><a href="{{url}}">{{title}}</a></div>
		</div>
		<div class="col-sm-3 song-action-wrapper">
			<div class="vote">
				<div class="increment	up"></div>
				<div class="increment down"></div>
				<div class="count">{{votes}}</div>
			</div>
		</div>
		<!--	<a href="{{pathFor 'songPage'}}" class="song-detail btn btn-clear">Detail</a> -->
	</div>
</template>
